[Desktop Entry]
Type=Application
Version=1.0
Name=Ankama
NoDisplay=false
Icon=/home/<USER>/games/ankama/ankama_logo.png
Exec="/home/<USER>/games/ankama/Ankama Launcher-Setup-x86_64.AppImage" --no-sandbox
Terminal=false
Categories=Game;
