[Desktop Entry]
Type=Application
Version=1.0
Name=Ankama
NoDisplay=false
Icon=/home/<USER>/games/ankama/ankama-logo.png
Exec="/home/<USER>/games/ankama/Ankama Launcher-Setup-x86_64.AppImage"
Terminal=false
Categories=Game;
